# backup jquery files
jquery.js
resources/js/jquery/index.php

# comodo image
comodo_secure_seal_76x26_transp.png

# robots.txt and sitemap
robots.txt
sitemap.xml

# privacy policy
privacy_policy.html